h1 Confusion
table
    each row,iy in matrix
         tr
         each bin,ix in row
              td
                  .confusion_element(data_ix=ix, data_iy=iy, style='width: 50px; border: 1px solid black; cursor: pointer')= bin

#image_display

